<div class="probootstrap-search" id="probootstrap-search">
      <a href="#" class="probootstrap-close js-probootstrap-close"><i class="icon-cross"></i></a>
      <form action="#">
        <input type="search" name="s" id="search" placeholder="Search a keyword and hit enter...">
      </form>
</div>

<div class="probootstrap-page-wrapper">
    <!-- Fixed navbar -->
      <div class="probootstrap-header-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 probootstrap-top-quick-contact-info">
              <span><i class="icon-location2"></i>Kathmandu, Nepal</span>
              <span><i class="icon-phone2"></i>+977-1234567890</span>
              <span><i class="icon-mail"></i>info@hitoacademy.com</span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 probootstrap-top-social">
              <ul>
                <li><a href="#"><i class="icon-twitter"></i></a></li>
                <li><a href="#"><i class="icon-facebook2"></i></a></li>
                <li><a href="#"><i class="icon-instagram2"></i></a></li>
                <li><a href="#"><i class="icon-youtube"></i></a></li>
                <li><a href="#" class="probootstrap-search-icon js-probootstrap-search"><i class="icon-search"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <nav class="navbar navbar-default probootstrap-navbar">
        <div class="container">
          <div class="navbar-header">
            <div class="btn-more js-btn-more visible-xs">
              <a href="#"><i class="icon-dots-three-vertical"></i></a>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}" title="uiCookies:Hito Academy">Hito Academy</a>
          </div>

          <div id="navbar-collapse" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About Us</a></li>
              <li><a href="{% url 'news' %}">News/Events</a></li>
              <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Academics</a>
                <ul class="dropdown-menu">
                  <li><a href="{% url 'course' %}">Courses</a></li>
                  <li><a href="{% url 'gallery' %}">Gallery</a></li>
                  <li class="dropdown-submenu dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span>Admission</span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Elementary School</a></li>
                      <li><a href="#">Middle School</a></li>
                      <li><a href="#">High School</a></li>
                    </ul>
                  </li>
                  <li><a href="{% url 'news' %}">News</a></li>
                </ul>
              </li>
              <li><a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </nav>
</div>
